VITE_API_BASE_URL=https://secretariapay-api.paixaoangola.com
VITE_APP_NAME=SecretáriaPay Académico
VITE_INSTITUTION_NAME=Instituto Superior Politécnico Metropolitano de Angola
VITE_INSTITUTION_SHORT_NAME=IMETRO
VITE_DCR_NAME=DCR — Divisão de Cobranças e Recebimentos
VITE_INSTITUTION_ID=c3726494-46b5-4563-8e84-0a04334fac8c
VITE_SECRETARIA_WHATSAPP=244991640259
