VITE_API_BASE_URL=https://secretariapay-api.paixaoangola.com
VITE_APP_NAME=SecretáriaPay Académico
VITE_INSTITUTION_NAME=Instituto Superior Politécnico Metropolitano de Angola
VITE_INSTITUTION_SHORT_NAME=IMETRO
VITE_DCR_NAME=DCR — Divisão de Cobranças e Recebimentos
